/* Compass Imports */
@import "compass/css3";
@import "compass/reset";

/* Variables */
$font: 'Open Sans', sans-serif;
$header-color: #FFF;
$background-color: #F6F7F4;
$task-color: #C0C2BF;
$task-text: #FFFFFF;
$task-text-r: #000000;
$high: #274C59;
$medium: #5FBAD9;
$low: #A4D0DF;
@include global-reset;

/* Global Styles & Typography */
body, html {
  margin: 0;
  padding: 0;
  font-family: $font;
  background-color: $background-color;
  color: $task-text;
  @include global-reset;
}

li h1 {
  font-size: 1.5em;
  font-weight: 200;
}

button {
  padding: 10px;
  margin: 5px;
  background: $task-text-r;
  border: 0;
  color: $task-text;
}

button:hover{
  background: $task-text;
  color: $task-text-r;
  cursor: pointer;
}

i {
  color: $task-text;
}
i:hover {
  color: $task-text-r;
}

/* Header */
.header {
  background: rgba(255, 255, 255, 0.9);
  color: $task-text-r;
  font-weight: 200;
  padding: 1em;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 3;

  li {
    display: inline-block;
    margin: 0 3%;
    padding: 1em 5%;
    vertical-align: middle;

    &.add-task-btn {
      margin: 0;
      padding: 15px;
    }

    a {
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 400;
    }
  }

}

label {
  font-size: 1.2em;
  font-weight: 600;
}

input, span {
  margin: 0;
  float: right;
}

input[type="radio"] {
  margin: 5px;
  height: auto;
  float: right;
}

.overlay {
  opacity: 0.5;
}

.task-label {
  background-color: $task-text;
  height: 50px;
  width: 100%;
}

// tried to make the half circle add button ---- doesn't work yet
.add-todo-circle {
  @include border-radius(50%);
  @include opacity(0.5);
  background-color: $task-color;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75px;
  vertical-align: middle;
  width: 150px;
  z-index: 1;

  a {
    color: $task-text;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
  }

  &:hover {
    @include opacity(1);
    background-color: $task-color;
    z-index: 1;
  }
}

.add-btn {
  background: $task-color;
  float: right;
  color: $task-text;
  font-weight: 400;
  font-size: 1.5;
  cursor: pointer;
}

.name {
  font-size: 1.6em;
  margin: 15px 5px 20px;
  color: #FFF;
font-weight: 600;
font-style: italic;
}

h3 {
  margin: 8px;
}

.fa-ul>li {
  margin: 20px;
  text-align: left;
}

.add-btn:hover {
  background: $task-text-r;
  color: $task-text;
}

.add-todo {
  background-color: $task-color;
  color: $task-text-r;
  margin: 5% auto;
  padding: 1%;
  position: absolute;
  top: 100px;
  width: 340px;
  z-index: 2;

  div, button {
    margin: 3%;
    clear: both;
  }
}

.input-group-btn {
  float: none;
  text-align: center;
}

input {
  height: 30px;
  font-size: 1em;
  clear:  both;
}

.priority {
  float: left;
}

/* Circle Animation */

.circle {
  @include transform-origin(50%, 50%);
  @include border-radius(50%);
  background-color: $task-color;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 4%;

  & > .wrap {
    position: relative;
    //top: 15%;
    text-align: center;
    margin: 0 auto;
    width: 80%;

    h3 {
      text-align: left;
    }
  }

  input {
    font-family: $font;
    width: auto;
  }
}

.done {
  background-color: $task-color;
  @include opacity(0.3);
}

.LOW {
  background-color: $low;
  // include this for size priority
  //@include scale(0.75);
}

.MEDIUM {
  background-color: $medium;
  // include this for size priority
  // @include scale(1);
}

.HIGH {
  background-color: $high;
  // include this for size priority
  //@include scale(1.25);
}

select {
  background-color: $task-text;
  clear: both;
  float:right;
  clear: both;
  height: 30px;
  margin: 5px 0;
}

.circle-container {
  margin: 8% auto;
  width: 95%;
  text-align: center;
}

#done-check {
  float: left;
}

.remove {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
