body, html {
  margin: 0;
  padding: 0;
}

.header {
  height: 5em;
  background-color: #000;
  color: #FFF;
}

#bubblesnapp-logo {
  background: url(../images/bubblesnapp.png) no-repeat left top;
  padding-top:68px;
  margin-bottom:50px;
}

.circle {
  background:#3077a2;
  border-radius:50%;
  box-shadow:0 1px 3px #333;
  cursor:pointer;
  height:50px;
  opacity:0.5;
  position:absolute;
  left: 50px;
  transform-origin: 50% 50%;
  width:50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.circle:hover {
  height:75px;
  opacity:1;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  width:75px;
}