body, html {
  margin: 0;
  padding: 0;
  /* Stephanies gonna hate me for this */
  background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(orange, blue); /* Standard syntax */
}

.header {
  height: 5em;
  background-color: #000;
  color: #FFF;
}

#bubblesnapp-logo {
   background-image: url(../images/bubblesnapp.png);
   background-repeat: no-repeat;
   background-position: left top;
   padding-top:68px;
   margin-bottom:50px;
}

.circle {
   width:100px;
   height:100px;
   border-radius:50px;
   font-size:20px;
   color:#fff;
   line-height:100px;
   text-align:center;
   background:#000
}