@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carllindiii\/Google\%20Drive\/Fall\%202014\/CSC\%20486\/todo\/app\/styles\/main\.scss}line{font-family:\000031}}
body, html {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carllindiii\/Google\%20Drive\/Fall\%202014\/CSC\%20486\/todo\/app\/styles\/main\.scss}line{font-family:\000036}}
.header {
  height: 5em;
  background-color: #000;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carllindiii\/Google\%20Drive\/Fall\%202014\/CSC\%20486\/todo\/app\/styles\/main\.scss}line{font-family:\0000312}}
#bubblesnapp-logo {
  background-image: url(../images/bubblesnapp.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 68px;
  margin-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carllindiii\/Google\%20Drive\/Fall\%202014\/CSC\%20486\/todo\/app\/styles\/main\.scss}line{font-family:\0000320}}
.circle {
  background: #3077a2;
  border-radius: 50%;
  box-shadow: 0 1px 3px #333;
  cursor: pointer;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  left: 50px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carllindiii\/Google\%20Drive\/Fall\%202014\/CSC\%20486\/todo\/app\/styles\/main\.scss}line{font-family:\0000334}}
.circle:hover {
  height: 75px;
  opacity: 1;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  width: 75px;
}
