@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephaniefriend\/Documents\/todo\/app\/styles\/main\.scss}line{font-family:\000031}}
body, html {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephaniefriend\/Documents\/todo\/app\/styles\/main\.scss}line{font-family:\000036}}
.header {
  height: 5em;
  background-color: #000;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephaniefriend\/Documents\/todo\/app\/styles\/main\.scss}line{font-family:\0000312}}
#bubblesnapp {
  background-image: url(../images/bubblesnapp.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 68px;
  margin-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stephaniefriend\/Documents\/todo\/app\/styles\/main\.scss}line{font-family:\0000320}}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000;
}
