/* Compass Imports */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Global Styles & Typography */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000316}}
body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000323}}
h1 {
  font-size: 2em;
  font-weight: 200;
}

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000329}}
.header {
  background-color: #FFF;
  color: #000;
  font-weight: 200;
  padding: 1em;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000337}}
.header li {
  display: inline-block;
  margin: 0 3%;
  padding: 1em 5%;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000343}}
.header li.add-task-btn {
  margin: 0;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000348}}
.header li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000359}}
li:not(.logo) {
  background-color: #F0F0F0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000363}}
li:not(.logo):hover {
  background-color: #F0F0F0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000369}}
.add-todo-circle {
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: #F0F0F0;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75px;
  vertical-align: middle;
  width: 150px;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000381}}
.add-todo-circle a {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000388}}
.add-todo-circle:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: #F0F0F0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\0000395}}
.add-todo {
  background-color: #F0F0F0;
  margin: 5%;
  padding: 1%;
  position: absolute;
  top: 100px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003103}}
.add-todo div, .add-todo button {
  margin: 3%;
}

/* Circle Animation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003110}}
.circle {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-radius: 50%;
  background-color: #F0F0F0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 200px;
  height: 200px;
  margin: 4%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003122}}
.circle > .wrap {
  position: relative;
  top: 20%;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003129}}
.circle > .wrap h3 {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003134}}
.circle input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003140}}
.low {
  background-color: #66BDCC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003144}}
.medium {
  background-color: #FFE45A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003148}}
.high {
  background-color: #FF7977;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003152}}
.circle-container {
  margin: 8% auto;
  width: 90%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003158}}
.project-label {
  color: #000;
  height: auto;
  width: 100%;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/brianfung\/Downloads\/14_2014Fall\/CPE486_Fisher-White\/PA\/todo\/app\/styles\/main\.scss}line{font-family:\00003166}}
#done-check {
  float: left;
}
