<div class="header">
   <ul>
      <!-- Projects and Tasks -->
      <li class="logo"><h2>BubbleSnapp</h2></li>
      <!-- <li class="btn"><a href="">Tasks</a></li> -->
      <!--       <a href="#/projects" href="">
               <li class="add-btn">Projects</li>
            </a> -->
      <a ng-click="addTask=true">
         <li class="add-btn">Add Task</li>
      </a>

   </ul>
</div>

<div class="container">
   <!-- Todos input -->
   <div ng-show="addTask" class="add-todo" id="add-todo">

      <div>
         <h2>Add a Task</h2>
      <button class="clear-btn" ng-click="clearTodo(); addTask=false"><i class="fa fa-2x fa-times-circle"></i></button></div>
      
      <div>
         <label>Task Name</label>
         <input type="text" ng-model="name" placeholder="Task" id="name" autofocus>
      </div>

      <div>
         <label>Project Name</label>
         <input type="text" placeholder="Project" ng-model="project">
         <select class="project" ng-model="project"></select>
      </div>

      <!-- <div>
         <label>Description</label>
         <input type="text" ng-model="description" placeholder="Description (Optional)">
      </div>
 -->
      <div>
         <label>Date</label>
         <input id="date-input" type="text" ng-model="date" placeholder="Date (Optional)" datepicker>
      </div>

      <div>
         <label class="priority">Priority</label>
         <select class="priority" name="priority" ng-model="priority">
            <option value="AUTO" selected>Auto (from Date)</option>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
         </select>
      </div>   

      <button ng-click="addTodo();"><i class="fa fa-2x fa-check-circle"></i></button>      
   </div>


   <!-- Todos list -->
   <div class="circle-container">
      <div class="circle {{todo.priority}}" ng-class="{'done' : todo.isDone}" ng-repeat="todo in todos track by $index">
         <div class="wrap">

            <div ng-hide="todo.isEdit">
              <i ng-hide="todo.isDone" ng-click="completeTodo($index)" class="fa fa-3x fa-check-circle"></i>
              <i ng-show="todo.isDone" ng-click="completeTodo($index)"class="fa fa-2x fa-undo"></i>
            </div>
            <h2 class="name">{{todo.name}}</h2>
            <input class="editing-mode" ng-show="todo.isEdit" type="text" ng-model="todo.name" placeholder="Change task name">

           <ul class="fa-ul" ng-class="{'fa-edit' : todo.isEdit}">
            <li ng-hide="todo.isEdit"><i class="fa fa-li fa-lg fa-folder"></i>&nbsp; {{todo.project}}</li>
            <input ng-show="todo.isEdit" type="text" ng-model="todo.project" placeholder="Add to a project">

            <li ng-hide="todo.isEdit"><i class="fa fa-li fa-lg fa-calendar-o"></i>&nbsp; {{todo.date}}</li>
            <input ng-show="todo.isEdit" type="text" ng-model="todo.date" datepicker>

            <li ng-hide="todo.isEdit"><i class="fa fa-li fa-lg fa-exclamation-triangle fa-fw"></i>&nbsp; Priority: {{todo.priority}}</li>
</ul>
            <select ng-show="todo.isEdit" class="priority" name="priority" ng-model="todo.priority">
               <option value="AUTO">Auto (from Date)</option>
               <option value="LOW">Low</option>
               <option value="MEDIUM">Medium</option>
               <option value="HIGH">High</option>
            </select>

               <span class="input-group-btn">
                  <!-- wrench -->
                  <button class="btn btn-danger" ng-hide="todo.isEdit" ng-click="editTodo($index)" aria-label="Edit">
                     <i class="fa fa-2x fa-wrench"></i>
                  </button>
                  <!-- check button on edit -->
                  <button class="btn btn-danger" ng-show="todo.isEdit" ng-click="saveEdits($index)" aria-label="Edit">
                     <i class="fa fa-2x fa-check"></i>
                  </button>
                  <!-- trash can -->
                  <button class="btn btn-danger" ng-hide="todo.isEdit" ng-click="removeTodo(this, $index)" aria-label="Remove">
                     <i class="fa fa-2x fa-trash"></i>
                  </button>
               </span>
         </div>
      </div>
   </div>
</div>
