<script>
    window.onLoad = initTodos();
</script>


<div class="container">

    <!-- Todos input -->
    <div ng-show="show" class="add-todo">
        <div>
            <label>Name</label>
            <input type="text" ng-model="name" placeholder="Add a todo" class="form-control">
        </div>

        <div>
            <label>Description</label>
            <textarea name="description" ng-model="description" placeholder="Add a description"></textarea>
        </div>

        <div>
            <label>Date</label>
            <input type="text" placeholder="MM/dd/yy" ng-model="date">
        </div>

        <div>
            <label>Priority</label>
            <br>
            <input type="radio" name="priority" value="NONE" ng-model="priority">None<br>
            <input type="radio" name="priority" value="LOW" ng-model="priority">Low<br>
            <input type="radio" name="priority" value="MEDIUM" ng-model="priority">Medium<br>
            <input type="radio" name="priority" value="HIGH" ng-model="priority">High<br>
        </div>


        <button ng-click="addTodo()">Add</button>
        <button ng-click="destroy()">Cancel</button>
    </div>



    <!-- Todos list -->
    <div class="circle input-group" ng-repeat="todo in todos track by $index">
        <div class="wrap">

            <h1>{{todo.name}}</h1>

            <h2>{{todo.description}}</h2>

            <span>{{todo.date}}</span>

            <input type="checkbox" value={{todo.isDone}}>

            <input type="radio" name="priority" value={{todo.priority}}>None<br>
            <input type="radio" name="priority" value={{todo.priority}}>Low<br>
            <input type="radio" name="priority" value={{todo.priority}}>Medium<br>
            <input type="radio" name="priority" value={{todo.priority}}>High<br>


    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="editTodo($index)" aria-label="Edit">Edit</button>
    </span>
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
    </span>

        </div>
    </div>

</div>