  <div class="header">
        <ul>
          <!-- Projects and Tasks -->
          <li class="logo"><h1>BubbleSnapp</h1></li>
          <li class="projects-btn"><a href="">Tasks</a></li>
          <li ng-click="addTask = true" class="add-task-btn"><a href="">+</a></li>
        </ul>
      </div>
      <div class="container">

    <!-- Todos input -->
    <div ng-show="addTask" class="add-todo" id="add-todo">
        <div>
            <label>Name</label>
            <input type="text" ng-model="name" placeholder="Add a task">
        </div>

         <div>
            <label>Project Name</label>
            <input type="text" ng-model="project" placeholder="Add to a project">
        </div>

        <div>
            <label>Date</label>
            <input type="text" placeholder="mm/dd/yy" ng-model="date">
        </div>

        <div>
            <label>Priority</label>
            <br>
            <input type="radio" name="priority" value="MEDIUM" ng-model="priority" ng-checked="true">Auto<br>
            <input type="radio" name="priority" value="LOW" ng-model="priority">Low<br>
            <input type="radio" name="priority" value="MEDIUM" ng-model="priority">Medium<br>
            <input type="radio" name="priority" value="HIGH" ng-model="priority">High<br>
        </div>

        <button ng-click="addTodo(); addTask = false">Add</button>
        <button ng-click="addTask = false">Cancel</button>
    </div>


    <!-- Todos list -->
    <div class="circle-container">
        <div class="circle {{todo.priority}}" ng-class="" ng-repeat="todo in todos track by $index">
            <div class="wrap">

                <input id="done-check" type="checkbox" value={{todo.isDone}}>
                
                <h2 ng-hide="edit">{{todo.name}}</h2>
                <input ng-show="edit" type="text" ng-model="todo.name" placeholder="Add a task">

                <h3 ng-hide="edit"><i class="fa fa-folder"></i>&nbsp; {{todo.project}}</h3>
                <input ng-show="edit" type="text" ng-model="todo.project" placeholder="Add to a project">
                <h3 ng-hide="edit"><i class="fa fa-calendar-o"></i>&nbsp; {{todo.date}}</h3>
                <input ng-show="edit" type="text" placeholder="mm/dd/yy" ng-model="todo.date">
                <h3 ng-hide="edit"><i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp; Priority: {{todo.priority}}</h3>

                <span class="input-group-btn">
                  <button class="btn btn-danger" ng-hide="edit" ng-click="edit=true" aria-label="Edit">Edit</button>
                  <button class="btn btn-danger" ng-show="edit" ng-click="edit=false; editTodo($index)" aria-label="Edit">Save</button>
                </span>
                <span class="input-group-btn">
                  <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
                </span>


            </div>
        
    </div>

</div>